$white: #fff;
$black: #000;
$red: #fe0200;
$max-zIndex: 2147483647;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@function rhythm($n) {
  @return 8px * $n;
}

%button {
  padding: 0;
  margin: 0;
  font: inherit;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;

  &:disabled {
    cursor: default;
  }
}

%action-button {
  &:not(:disabled) {
    &:hover {
      background: rgba($black, 0.04);
    }

    &:active > svg {
      transform: scale(0.95);
    }
  }
}

.hide {
  display: none !important;
}

.app {
  position: fixed;
  right: rhythm(2);
  bottom: rhythm(5);
  left: rhythm(2);
  z-index: $max-zIndex;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - #{rhythm(4)});
  margin-right: auto;
  margin-left: auto;
  font-family: "Arial", sans-serif;
  color: $black;
  user-select: none;
  background: $white;
  border: 2px solid;
  border-radius: rhythm(4);
  outline: 3px solid rgba($white, 0.5);
  transition: all 0.25s $timing-function;
  transform: translateZ(0);
  will-change: width, height;

  &.noEvents {
    pointer-events: none;
  }

  &.top {
    top: rhythm(6);
    bottom: auto;
  }

  svg {
    color: currentcolor;
  }

  * {
    box-sizing: border-box;
  }
}

.toast {
  position: absolute;
  bottom: rhythm(12);
  left: 50%;
  z-index: 10;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: max-content;
  padding: 0.375rem 0.75rem;
  margin: auto;
  color: #fff;
  background: $red;
  border: 2px solid $white;
  border-radius: rhythm(4);
  transform: translateX(-50%);

  &__message {
    font-family: "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
  }

  @at-root {
    .top & {
      bottom: rhythm(-8);
    }
  }
}

.menuBar {
  display: flex;
  align-items: center;
  padding: 0 rhythm(1.5);
  overflow-x: auto;
}

.menuButton {
  @extend %button;
  @extend %action-button;
  padding: rhythm(1);

  > svg {
    display: block;
  }

  &.rotate {
    transform: rotate(180deg);
  }
}

.opacityButton {
  position: relative;

  &__value {
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;
    z-index: 1;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
}

.alignmentPopover {
  position: absolute;
  bottom: 100%;
  left: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-top: rhythm(0.5);
  padding-right: rhythm(0.5);
  padding-left: rhythm(0.5);
  overflow: hidden;
  background: $white;
  border-top: 2px solid $black;
  border-right: 2px solid $black;
  border-left: 2px solid $black;
  border-radius: rhythm(1.5) rhythm(1.5) 0 0;
}

.alignmentButton {
  @extend %button;
  @extend %action-button;
  padding: rhythm(0.5);
  border-radius: rhythm(1);

  > svg {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.scaleButton {
  position: relative;

  &__value {
    position: absolute;
    inset: 0;
    z-index: 1;
    height: 16px;
    margin: auto;
    font-size: 11.5px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }
}

.coordinates {
  position: absolute;
  right: 0;
  bottom: calc(100% + 8px);
  left: 0;
  z-index: 1;
  width: max-content;
  padding: 0 rhythm(1);
  margin: auto;
  font-family: monospace;
  font-size: 12px;
  line-height: 20px;
  color: $white;
  white-space: nowrap;
  pointer-events: none;
  background: $white;
  background: $black;
  border-radius: rhythm(2);
}

.panel {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  &__contentWrapper {
    height: 100%;
    padding: rhythm(1);
    overflow: hidden;
    border-radius: inherit;
  }

  &__content {
    height: 100%;
    padding: rhythm(1.5);
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    will-change: opacity visibility;

    &.show {
      visibility: visible;
      opacity: 1;
      transition:
        opacity 0.5s $timing-function 0.25s,
        visibility 0s 0.25s;
    }
  }

  &__footer {
    position: absolute;
    right: 0;
    bottom: rhythm(-2.25);
    left: 0;
    z-index: 1;
    display: flex;
    gap: rhythm(2);
    align-items: center;
    width: max-content;
    margin: auto;
  }

  &__button {
    @extend %button;
    width: 160px;
    line-height: rhythm(4);
    color: $white;
    background: $black;
    border-radius: rhythm(1.25);

    &:active {
      transform: scale(0.95);
    }
  }
}

.table {
  width: 100%;
  font-size: 15px;
  line-height: 16px;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;

  > tbody {
    text-transform: capitalize;

    input {
      width: 80px;
    }
  }
}

.allDesignsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rhythm(2.5);
}

.designCard {
  position: relative;
  cursor: pointer;

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: rhythm(2);
  }

  &__button {
    @extend %button;
    position: absolute;
    right: rhythm(1.5);
    bottom: rhythm(1.5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rhythm(0.75);
    color: $white;
    background: $black;
    border-radius: 50%;
    opacity: 0;

    > svg {
      width: rhythm(2.5);
      height: rhythm(2.5);
    }

    &:hover {
      background: $red;
    }
  }

  &.current {
    cursor: not-allowed;
  }

  &.current & {
    &__img {
      border-color: #666;
    }

    &__button {
      display: none;
    }
  }

  &:hover & {
    &__img {
      border-color: #666;
    }

    &__button {
      opacity: 1;
      transition: opacity 0.25s $timing-function;
    }
  }
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 3 / 4;
  color: #aaa;
  cursor: pointer;
  background: #fafafa;
  border: 2px solid #ddd;
  border-radius: rhythm(2);

  &__icon {
    width: rhythm(8);
    height: rhythm(8);
    padding: rhythm(1.5);
    background: #eee;
    border-radius: rhythm(1.5);
  }

  > input {
    display: none;
  }

  &:hover {
    color: #666;
    border-color: #666;
  }
}

.overlayContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $max-zIndex - 1;
  overflow: hidden;
  pointer-events: none;
}

.designOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: all;
  user-select: none;
  transition: none;
  will-change: width, height, transform;
  contain: layout size;

  &:active {
    outline: 1px dashed $black;
  }

  &.animation {
    transition:
      width 0.25s $timing-function,
      height 0.25s $timing-function,
      transform 0.25s $timing-function;
  }

  &.locked {
    pointer-events: none;
    cursor: default;
  }

  &.solid {
    outline: none !important;
  }
}

.verticalRhythmOverlay {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.gridSystemOverlay {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: grid;

  &.center {
    justify-content: center;
  }

  &.left {
    justify-content: start;
  }

  &.right {
    justify-content: end;
  }
}
