$white: #fff;
$black: #000;
$max-zIndex: 2147483647;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@function rhythm($n) {
  @return 8px * $n;
}

%button {
  margin: 0;
  font: inherit;
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.hide {
  display: none !important;
}

.app {
  position: fixed;
  right: rhythm(2);
  bottom: rhythm(5);
  left: rhythm(2);
  z-index: $max-zIndex;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100vw - #{rhythm(4)});
  margin-right: auto;
  margin-left: auto;
  font-family: "Arial", sans-serif;
  color: $black;
  user-select: none;
  background: $white;
  border: 2px solid;
  border-radius: rhythm(4);
  outline: 3px solid rgba($white, 0.5);
  transition: all 0.3s $timing-function;
  transform: translateZ(0);
  will-change: width, height;

  &.noEvents {
    pointer-events: none;
  }

  * {
    box-sizing: border-box;
  }
}

.menuBar {
  display: flex;
  align-items: center;
  padding: 0 rhythm(1.5);
  overflow-x: auto;
}

.menuButton {
  @extend %button;
  padding: rhythm(1);

  > svg {
    vertical-align: bottom;
  }
}

.actionButton {
  &:hover {
    background: rgba($black, 0.04);
  }

  &:active > svg {
    transform: scale(0.95);
  }
}

.opacityButton {
  position: relative;

  &__value {
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;
    z-index: 1;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
  }
}

.alignmentPopover {
  position: absolute;
  bottom: 100%;
  left: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-top: rhythm(0.5);
  padding-right: rhythm(0.5);
  padding-left: rhythm(0.5);
  overflow: hidden;
  background: $white;
  border-top: 2px solid $black;
  border-right: 2px solid $black;
  border-left: 2px solid $black;
  border-radius: rhythm(1.5) rhythm(1.5) 0 0;
}

.alignmentButton {
  @extend %button;
  padding: rhythm(0.5);
  border-radius: rhythm(1);

  &:hover {
    background: rgba($black, 0.04);
  }

  > svg {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
  }
}

.scaleButton {
  position: relative;

  &__icon {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin: auto;
    stroke-width: 5px;
  }

  &__value {
    position: absolute;
    inset: 0;
    z-index: 1;
    height: 16px;
    margin: auto;
    font-size: 11.5px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }
}

.coordinates {
  position: absolute;
  right: 0;
  bottom: calc(100% + 8px);
  left: 0;
  z-index: 1;
  width: max-content;
  padding: 0 rhythm(1);
  margin: auto;
  font-family: monospace;
  font-size: 12px;
  line-height: 20px;
  color: $white;
  white-space: nowrap;
  pointer-events: none;
  background: $white;
  background: $black;
  border-radius: rhythm(2);
}

.grabButton {
  padding-right: 0;
  padding-left: 0;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.panel {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  &__contentWrapper {
    height: 100%;
    padding: rhythm(1);
    overflow: hidden;
    border-radius: inherit;
  }

  &__content {
    height: 100%;
    padding: rhythm(1);
    overflow: auto;
  }

  &__closeButton {
    @extend %button;
    position: absolute;
    right: 0;
    bottom: rhythm(-2.25);
    left: 0;
    z-index: 1;
    width: max-content;
    padding-right: rhythm(2.5);
    padding-left: rhythm(2.5);
    margin: auto;
    line-height: rhythm(4);
    color: $white;
    background: $black;
    border-radius: rhythm(1.5);

    &:active {
      transform: scale(0.95);
    }
  }
}

.designGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: rhythm(2);

  > img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: rhythm(1);
  }
}

.fullPageContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $max-zIndex - 1;
  overflow: hidden;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: all;
  user-select: none;
  transition: none;
  will-change: width, height, transform;
  contain: layout size;

  &:active {
    outline: 1px dashed $black;
  }

  &.animation {
    transition:
      width 0.3s $timing-function,
      height 0.3s $timing-function,
      transform 0.3s $timing-function;
  }

  &.locked {
    pointer-events: none;
    cursor: default;
  }

  &.solid {
    outline: none !important;
  }
}
